{% extends 'base.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block stylesheets %}
    <style>
        #form_save {
            padding: 0 1.6rem;
        }
    </style>
{% endblock %}

{% block body %}
    <p class="flow-text">You can control the BrowserSync instance from this page. Select a website from the list below or enter an address in the bar.</p>

    {{ form_start(form) }}
    <div class="row">
        <div class="input-field col s12 m9">
            {{ form_label(form.site) }}
            {{ form_errors(form.site) }}
            {{ form_widget(form.site) }}
        </div>
        <div class="input-field col s12 m3">
            {{ form_label(form.save) }}
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}

    <div class="row">
        {% for website in websites %}
        <div class="col s6 m3 url-select" data-url="{{ website.url }}">
            <div class="card">
                <div class="card-image">
                    <img src="{{ asset('uploads/avatar/' ~ website.avatar) }}">
                    <span class="card-title">{{ website.name }}</span>
                </div>
                <div class="card-action">
                    <a href="#">Select</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}